:root {
    --color-primary: ;
    --color-secondary: #e7f3ff;
    --font-primary: 'Poppins', sans-serif;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-secondary);
    font-family: var(--font-primary);
    line-height: 1.6;
}

.card-hover {
    cursor: pointer;
    transition: transform .5s, box-shadow 1s;
}

.card-hover:hover {
    transform: scale(1.02);
}

.nav-item .nav-link.active {
    color: rgb(90, 90, 239) !important;
}

.nav-pills .nav-link.active {
    color: #fff !important;
}